input {
    keyboard {
        xkb {
            layout "br,us"
            variant ",intl"      
            options "grp:alt_shift_toggle"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
         // dwt
        // disabled-on-external-mouse
    }
}
