    layout {
        gaps 8
        center-focused-column "never" 

        background-color "transparent"

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}

        focus-ring {
            width 6 
            active-color "#A63D2D"
            inactive-color "#D9CDB8"
            urgent-color "#5E4033"
        }
    }
    
    window-rule {
        geometry-corner-radius 12 
        clip-to-geometry true
        draw-soft-shadow true
    }

    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
