*.bak
*.swp
*~
\#*\#
.DS_Store
Thumbs.db

dist/
node_modules/
.elc
auto-save-list/
elpa/
straight/
eln-cache/
.savehist
.python-environments
/eshell/history
/eshell/last-commands
url/
bookmarks
projectile.cache
recentf
*-autoloads.el

history
places
.bash_history
.zsh_history
.zcompdump*
.node_repl_history
.python_history
.sqlite_history

*.local
*.secret
.env
.envrc

.cache/
.npm/
.yarn/

Code/*
!Code/User/settings.json
!Code/User/keybindings.json
