
// ────── Niri Config ────── \\

// OBS: This Niri's config setup is heavily inspired by CachyOS Niri's config.
// You can check the source on their github: https://github.com/CachyOS/cachyos-niri-settings

include "./modules/env.kdl"
include "./modules/start.kdl"
include "./modules/windows.kdl"
include "./modules/keybinds.kdl"
include "./modules/input.kdl"
include "./modules/animations.kdl"
include "./modules/display.kdl"
