// enriroment{
//     XDG_CURRENT_DESKTOP "niri"
//     XDG_SESSION_TIPE "wayland"
// }

prefer-no-csd

input {
    keyboard {
        xkb {
            layout "br"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        disabled-on-external-mouse
    }

    focus-follows-mouse max-scroll-amount="0%"
}
output "eDP-1" {
    mode "1920x1080@120.030"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 3
        active-color "#3c6eb4"
        inactive-color "#0b162f"
    }

    border {
        width 4
        active-color "#294172"
        inactive-color "#1a1a1b"
        urgent-color "#cedff5"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

// for kde enviroments
//spawn-at-startup "systemctl" "--user" "import-enviroment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
//spawn-at-startup "dbus-update-activation-enviroment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"

spawn-at-startup "qs" "-c" "noctalia-shell" "--no-duplicate"
spawn-at-startup "swaybg -i ~/dotfiles/wallpapers/blue-theme/nwall.png"

hotkey-overlay {
     skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 1.0
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+T { spawn "kitty"; }
    Mod+D { spawn "wofi" "--show" "drun"; }
    Mod+B { spawn "brave-browser"; }
    Mod+Alt+L { spawn "swaylock" "-f" "-c" "000000"; }
    Mod+Q { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+V { toggle-window-floating; }
    Mod+R { switch-preset-column-width; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }

    Print { screenshot; }
    Mod+Shift+E { quit; }
}
