* {
    font-family: 'JetBrainsMono Nerd Font', 'Fira Code Nerd Font', sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(10, 20, 35, 0.85); 
    border-bottom: 2px solid #294172; 
    color: #d1d1d1; 
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 10px;
    color: #4d5d7d; 
    background-color: transparent;
}

#workspaces button.active,
#workspaces button.focused {
    color: #51a2da; 
    border-bottom: 2px solid #51a2da;
}

#workspaces button.urgent {
    background-color: #3c6eb4;
    color: #ffffff;
}

#custom-fedora {
    padding: 0 15px;
    color: #51a2da; 
    font-size: 18px; 
    background-color: transparent;
    border-right: 1px solid #294172; 
    /*margin-right: 0px;*/
}

#custom-fedora:hover {
    color: #ffffff;
    background-color: rgba(81, 162, 218, 0.2); 
}

#idle_inhibitor,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#power-profiles-daemon {
    padding: 0 12px;
    color: #d1d1d1; 
    background-color: transparent;
}

#battery.critical:not(.charging) {
    color: #ff5555; 
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #2d3f5d;
}

#network.disconnected {
    color: #4d5d7d;
}

#clock {
    font-weight: bold;
    color: #85c1e9;
}
#tray {
    margin-left: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    color: #51a2da;
}

@keyframes blink {
    to {
        color: #1a2c4d;
    }
}