* {
    font-family: 'JetBrainsMono Nerd Font', 'Fira Code Nerd Font', sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(26, 15, 15, 0.85); 
    border-bottom: 2px solid #a62d2d; 
    color: #f2e5bc; 
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 10px;
    color: #6b3e3e; 
    background-color: transparent;
}

#workspaces button.active,
#workspaces button.focused {
    color: #ff4d4d; 
    border-bottom: 2px solid #ff4d4d;
}

#workspaces button.urgent {
    background-color: #a62d2d;
    color: #ffffff;
}

/* Keeping all of them in a transparent bg*/
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#power-profiles-daemon {
    padding: 0 12px;
    color: #f2e5bc; 
    background-color: transparent;
}

#battery.critical:not(.charging) {
    color: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #6b3e3e;
}

#network.disconnected {
    color: #a62d2d;
}


#clock {
    font-weight: bold;
    color: #ff9d9d;
}

#tray {
    margin-left: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    color: #ff4d4d;
}

@keyframes blink {
    to {
        color: #6b3e3e;
    }
}
