* {
    font-family: 'Fira Code Nerd Font','Fira Code Nerd Font', sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(20, 20, 20, 0.85);
    border-bottom: 2px solid #8c1038;
    color: #e0e0e0;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 10px;
    color: #7a7a7a;
    background-color: transparent;
}

#workspaces button.active,
#workspaces button.focused {
    color: #D70A53;
    border-bottom: 2px solid #D70A53;
}

#workspaces button.urgent {
    background-color: #ff9800;
    color: #ffffff;
}

#custom-menu {
    padding: 0 10px;
    color: #D70A53;
    font-size: 18px; 
    background-color: transparent;
    border-right: 1px solid #8c1038; 
}

#custom-menu:hover {
    color: #ffffff;
    background-color: rgba(215, 10, 83, 0.2);
}

#idle_inhibitor,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#power-profiles-daemon {
    padding: 0 12px;
    color: #e0e0e0; 
    background-color: transparent;
}


#battery.critical:not(.charging) {
    color: #ff3333;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #555555;
}

#network.disconnected {
    color: #7a7a7a;
}

#clock {
    font-weight: bold;
    color: #f05a81;
}

#tray {
    margin-left: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    color: #D70A53;
}

@keyframes blink {
    to {
        color: #2b0b16;
    }
}
